# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=APIAjxwE5J7d26g
LIVEKIT_API_SECRET=q9i4lqTNArQj1mOXvVwuaePGBZh9cdeE3V0aTarJnOr
LIVEKIT_URL=wss://superbryn-tvb4k735.livekit.cloud

# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME=

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
